<div class="row">
  <div class="columns small-12">
    <%= form_for @feed do |f| %>

      <div class="row">
        <div class="columns large-4">
          <%= f.text_field :query, placeholder: 'Topic' %>
        </div>
      </div>

      <div class="row">
        <div class="columns large-4">
          <%= f.submit class: 'button small round' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
