<div class="row">
  <div class="columns small-12">
    <h2>Reddit RSS Feeds</h2>
    <hr/>
    <%= react_component 'Feeds', { data: @feeds } %>
    <hr/>
    <%= link_to 'New Feed', new_feed_path, class: "button success small round" %>
  </div>
</div>
