<br/><br/>

<div class="row">
  <div class="columns small-12">

    <%=image_tag("https://www.redditstatic.com/reddit.com.header.png")%>
    <br/>
    <h2>Current Feeds</h2>
    <hr/>
    <%= react_component 'Feeds', { data: @feeds } %>
    <hr/>
    <%= link_to 'New Feed', new_feed_path, class: "button success small round" %>
  </div>
</div>
