	<hr>
		<footer class="row">
			<div class="large-12 columns">
			<br>
				<div class="row">

					<div class="small-11 small-offset-1 medium-3 medium-offset-1 columns">
						<h4>contact info:</h4>
						<ul class="no-bullet">
						<a href="mailto:jchai002@gmail.com?Subject=Hello" target="_top"><li><i class="step fi-mail size-24"></i> jchai002@gmail.com</li></a>
						<a><li><i class="step fi-telephone size-24"></i> 510-731-7928</li></a>
						</ul>
						</div>
					<div class="small-11 small-offset-1 medium-7 columns">
						<h4>social media:</h4>
						<ul class="no-bullet small-block-grid-4">
						<li><h1><a href="https://www.linkedin.com/in/jerrychaitea"><i class="step fi-social-linkedin size-48"></i></a></h1></li>
						<li><h1><a href="https://github.com/jchai002"><i class="step fi-social-github size-48"></i></a></h1></li>
						<li><h1><a href="https://twitter.com/JerryChaiTea"><i class="step fi-social-twitter size-48"></i></a></h1></li>
						<li><h1><a href="https://www.facebook.com/jerbearrr"><i class="step fi-social-facebook size-48"></i></a></h1></li>
					</div>
				</div>
		</footer>
